<div class="card border-primary mb-3">
  <div class="card-header">Detail of :</div>
  <div class="card-body">
    <h4 class="card-title text-center">{{ peolpe.name }}</h4>

    <ul class="list-group">
      <li class="list-group-item">height = {{ peolpe.height }}</li>
      <li class="list-group-item">mass = {{ peolpe.mass }}</li>
      <li class="list-group-item">hair_color = {{ peolpe.hair_color }}</li>
      <li class="list-group-item">skin_color = {{ peolpe.skin_color }}</li>
      <li class="list-group-item">eye_color = {{ peolpe.eye_color }}</li>
      <li class="list-group-item">gender = {{ peolpe.gender }}</li>
    </ul>
  </div>
</div>
